<div class="jumbotron">
    <h1 class="display-4 text-center">Node with Angular</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Node with Express</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, odio eveniet! Quibusdam asperiores, in repellendus vel nemo iure quidem dignissimos.</p>
    </div>
    <div class="col-md-4">
        <h3>Angular</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ad accusamus laborum enim, sunt dicta porro vitae hic odit quisquam.</p>
      </div>
      <div class="col-md-4">
          <h3>JWT Tokens</h3>
          <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam molestias incidunt quas ea in ab dolores eveniet deleniti, atque nostrum.  </p>

        </div>

  </div>